<h3 style="text-align: center;"><i class="fa fa-exclamation-circle"></i> Execute command</h3>
<div style="text-align: center"><b>Platform:</b> {{platform}}</div>
<hr>
<form id="platform-command-form" class="auvform form-horizontal" action="send_command/platformdata.api.Platform/{{ platform }}" method="POST">
    <input type="hidden" name="ip" value="{{args.ip}}">
    <input type="hidden" name="port" value="{{args.port}}">
    <div class="form-group">
        <label class="col-sm-3 control-label" >Command:</label>

        <div class="col-sm-7">
            <label class="radio" onclick="$('.auvcmd').hide();$('#auvcmd-abort').show();">
                <input type="radio" name="command" id="auvcmd3" value="abort"> Abort
            </label>
            <div id="auvcmd-abort" class="auvcmd"  style="display: none;">
                <em>This will send an abort signal to the AUV. It will cancel the current mission.</em>
            </div>

            <label class="radio"  onclick="$('.auvcmd').hide();$('#auvcmd-goto').show();">
                <input type="radio" name="command" id="auvcmd2" value="goto"> GoTo
            </label>
            <div id="auvcmd-goto" class="auvcmd" style="display: none;">
                <p><em>This will send the AUV to a specific location with specific parameters. Fill out the parameters below.</em></p>
                <div style="width: 20%; float: right; text-align: right;">
                    <a id="auvcmd_getpos" class="btn btn-primary" href="javascript:void(0)"><i class="fa fa-crosshairs"></i></a>
                </div>
                <div style="width: 80%; display: inline-block;">
                    <input type="text" class="form-control" id="auvcmdlat" name="lat" placeholder="Latitude">
                    <input type="text" class="form-control" id="auvcmdlon" name="lon" placeholder="Longitude">
                    <input type="text" class="form-control" name="depth" placeholder="Depth (m)">
                    <input type="text" class="form-control" name="velocity" placeholder="Velocity (m/s)">
                    <input type="text" class="form-control" name="timeout" placeholder="TimeOut (s)">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <button type="submit" class="btn btn-danger"><i class="fa fa-external-link-square"></i> Send Command!</button>
        </div>
    </div>
</form>



<script>
//callback handler for form submit

$(document).ready(function(){
    var $form = $("#platform-command-form");
    var $getpos = $form.find("#auvcmd_getpos");
    var $lat = $form.find("[name='lat']");
    var $lon = $form.find("[name='lon']");


    $form.submit(submit_command_form);
    $getpos.click(function(){
        getLatLon($lat, $lon);
    });

    function submit_command_form(e) {
        var formURL = $form.attr("action");
        var postData = {};
        $form.serializeArray().map(function(x){
            postData[x.name] = x.value;
        });

        $.ajax({
            url : formURL,
            type: "POST",
            data : JSON.stringify(postData),
            dataType: "json",
            contentType: 'application/json;charset=UTF-8',
            success:function(data, textStatus, jqXHR){
                console.log("success", data, textStatus, jqXHR);
                $form.html("<h4>Success</h4><p>"+data.msg+"</p>").addClass('alert alert-success');
            },
            error: function(jqXHR, textStatus, errorThrown){
                console.log("error", jqXHR, textStatus, errorThrown);
                var msg = (jqXHR.responseJSON.hasOwnProperty("msg")) ? jqXHR.responseJSON.msg : "Unknown error occurred with executing command.";
                $form.html("<h4>"+errorThrown+"</h4><p>"+jqXHR.responseJSON.msg+"</p>").addClass('alert alert-danger');
            }
        });
        e.preventDefault(); //STOP default action
        e.unbind(); //unbind. to stop multiple form submit.
    }

    function getLatLon($lat, $lon) {
        var $modal = $form.parents("#modal");
        var $cursor_container = $(".leaflet-container");
        var $cursor_info = $(".leaflet-control-mouseposition");
        var click_map = map.map;

        $modal.modal("hide");
        $cursor_container.css("cursor","copy");
        $cursor_info.css("font-size","30px");

        click_map.on("click",function(e){
            $lat.val(e.latlng.lat);
            $lon.val(e.latlng.lng);
            click_map.off("click");
            $cursor_container.css("cursor","inherit");
            $cursor_info.css("font-size","inherit");
            $modal.modal("show");
        });
    }

});





</script>